* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

aside {
    width: 250px;
    padding: 10px 20px;
    border-right: 1px solid #111;
}

button {
    display: block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #111;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
}

main {
    flex: 1;
    padding: 10px 20px;
}

h2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #111;
    margin-bottom: 20px;
    font-weight: 300;
}

h3 {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #111;
    font-weight: 300;
}

.person {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
}